<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand text-primary" routerLink="/">AI Trading Monitor</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle custom-hover" data-bs-toggle="dropdown" aria-expanded="false">Rendimiento</a>
          <ul class="dropdown-menu bg-dark">
            <li><a class="nav-link custom-hover" routerLink="/financial-performance" routerLinkActive="active">Financiero</a></li>
            <li><a class="nav-link custom-hover"  routerLink="/model-performance" routerLinkActive="active">Modelo IA</a></li>
          </ul>
        </li>
        <li class="nav-item px-2 text-muted d-none d-lg-block">|</li>
        <li class="nav-item">
          <a class="nav-link custom-hover" routerLink="/operations" routerLinkActive="active">Operaciones</a>
        </li>
        <li class="nav-item px-2 text-muted d-none d-lg-block">|</li>
        <li class="nav-item">
          <a class="nav-link custom-hover" routerLink="/alerts" routerLinkActive="active">Alertas</a>
        </li>
        <li class="nav-item px-2 text-muted d-none d-lg-block">|</li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle custom-hover" data-bs-toggle="dropdown" aria-expanded="false">Consumo de Recursos</a>
          <ul class="dropdown-menu bg-dark">
            <li><a class="nav-link custom-hover" routerLink="/resource-usage-db" routerLinkActive="active">Mongo DB</a></li>
            <li><a class="nav-link custom-hover" routerLink="/resource-usage-az" routerLinkActive="active">Azure</a></li>
          </ul>
        </li>
        <li class="nav-item px-2 text-muted d-none d-lg-block">|</li>
        <li class="nav-item">
          <a class="nav-link custom-hover" routerLink="/settings" routerLinkActive="active">Configuración</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item px-2 text-muted d-none d-lg-block">|</li>
        <li class="nav-item">
          <a class="nav-link custom-hover text-primary" routerLink="/settings" routerLinkActive="active" style="cursor: pointer;">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
