@use "sass:map";

$primary: #12bbad;
$success: #16a34a;
$danger: #dc2626;
$warning: #f59e0b;
$info: #3b82f6;
$dark: #0f172a;
$light: #f1f5f9;

// Paleta para modo oscuro (guardada en un map Sass)
$dark-theme-colors: (
  "primary": #67e8f9,
  "success": #4ade80,
  "danger": #f87171,
  "warning": #fde047,
  "info": #60a5fa,
  "dark": #020617,
  "light": #1e293b,
  "background": #0f172a,
  "text": #e2e8f0
);

// Importar las funciones y variables de Bootstrap
@use "bootstrap/scss/bootstrap" with (
  $primary: $primary,
  $success: $success,
  $danger: $danger,
  $warning: $warning,
  $info: $info,
  $dark: $dark,
  $light: $light
);

// Sobre escribir las variables de Bootstrap para el modo oscuro
.dark-mode {
  --bs-body-bg: map.get($dark-theme-colors, "background") !important;
  --bs-body-color: map.get($dark-theme-colors, "text") !important;
  --bs-primary: map.get($dark-theme-colors, "primary") !important;
  --bs-success: map.get($dark-theme-colors, "success") !important;
  --bs-danger: map.get($dark-theme-colors, "danger") !important;
  --bs-warning: map.get($dark-theme-colors, "warning") !important;
  --bs-info: map.get($dark-theme-colors, "info") !important;
  --bs-dark: map.get($dark-theme-colors, "dark") !important;
  --bs-light: map.get($dark-theme-colors, "light") !important;
}