@use "sass:map";
@use "bootstrap/scss/bootstrap" with (
  $primary: #45c1d1,
  $success: #4ade80,
  $danger: #f87171,
  $warning: #fde047,
  $info: #60a5fa,
  $dark: #020617,
  $light: #1e293b,
  $body-bg: #0f172a,
  $body-color: #e2e8f0
);

:root {
  --bs-body-bg: #0f172a;
  --bs-body-color: #e2e8f0;
  --bs-primary: #45c1d1;
  --bs-success: #4ade80;
  --bs-danger: #f87171;
  --bs-warning: #fde047;
  --bs-info: #60a5fa;
  --bs-dark: #020617;
  --bs-light: #1e293b;
  --bs-card-title-color: #e2e8f0;
}

.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: #e2e8f0;
  color: var(--bs-body-color);
  background-color: var(--bs-light);
  border-color: var(--bs-dark);
}

.card-title {
  color: var(--bs-card-title-color) !important;
}

.modal-content {
  background-color: var(--bs-light);
  color: var(--bs-body-color);
}